/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(255, 32, 121, 1) 0%,
    rgba(68, 11, 212, 1) 57%,
    rgba(4, 0, 94, 1) 100%
  );

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 1rem;
  position: relative;
}

.logo {
  height: 7rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: rgb(233, 233, 233);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #c91fdc;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #c91fdc;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #e92bfe;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background: linear-gradient(
    to bottom,
    rgba(255, 32, 121, 1) 0%,
    rgba(68, 11, 212, 1) 57%,
    rgba(4, 0, 94, 1) 100%
  );
  height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: flex;
  gap: 9.6rem;
  align-items: center;
  justify-content: center;
}

.hero-text-box {
  flex: 50%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img-box {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  width: 90%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #c91fdc;
  font-weight: 700;
}

/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured {
  background-color: #04005e;
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: rgb(233, 233, 233);
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  height: 3.2rem;
  opacity: 100%;
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  background-color: rgb(22, 22, 22);
  padding: 9.6rem 0;
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.step-text-box {
  flex: 60%;
  padding: 7rem;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  flex: 40%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
}

.step-img {
  width: 100%;
}

/**************************/
/* MEALS SECTION */
/**************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  flex: 33.3%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.09);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
  height: 35vh;
  max-width: 30vw;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.118);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #555;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #555;
  font-weight: 600;
}

.meal-img {
  width: 100%;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
  background-color: #e92efb;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.testimonials-container {
  padding: 9.6rem;
  flex: 60%;
}

.testimonials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial {
  flex: 50%;
  max-width: 10vw;
  margin: 2rem 2rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #cecece;
}

.gallery {
  flex: 40%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  border-radius: 10px;
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  padding: 4.8rem 0 2.8rem;
}

.cta {
  display: flex;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(
    to right bottom,
    rgba(255, 32, 121, 1) 0%,
    rgba(68, 11, 212, 1) 57%,
    rgba(4, 0, 94, 1) 100%
  );
  overflow: hidden;
}

.cta-text-box {
  flex: 65%;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #e1e1e1;
}

.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  flex: 35%;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 32, 121, 0.248),
      rgba(5, 0, 94, 0.193)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.flex {
  flex: 40%;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder,
.cta-form option {
  color: rgb(73, 73, 73);
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  background-color: rgb(48, 48, 48);
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.col {
  margin: 5rem 1rem 0 0;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.logo-footer {
  height: 7rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

@media (max-width: 1440px) {
  .testimonials-container {
    padding: 6rem;
    flex: 60%;
  }

  .testimonial {
    max-width: 15vw;
  }
}

@media (max-width: 850px) {
  .header {
    flex-direction: column;
    padding: 2rem;
    height: 12rem;
  }

  .logo {
    height: 5rem;
    margin-bottom: 1rem;
  }

  .main-nav-list {
    gap: 1rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-weight: 500;
    font-size: 1.2rem;
    margin-right: 10px;
  }

  .section-hero {
    height: 55vh;
  }

  .hero {
    max-width: 480px;
    padding: 0 1rem;
    gap: 1rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .hero-text-box {
    padding: 2rem;
    flex: 60%;
  }

  .hero-img-box {
    flex: 40%;
  }

  .hero-img {
    width: 40vw;
  }

  .delivered-meals {
    gap: 1.2rem;
    margin-top: 6rem;
  }

  .delivered-imgs {
    display: flex;
  }

  .delivered-imgs img {
    height: 4rem;
    width: 4rem;
  }

  .delivered-text {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .section-featured {
    background-color: #04005e;
    padding: 4.8rem 0 3.2rem 0;
  }

  .heading-featured-in {
    font-size: 1rem;
    margin-bottom: 2.2rem;
  }

  .logos img {
    height: 1.4rem;
    margin-right: 1rem;
  }

  .step-number {
    font-size: 6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1rem;
  }

  .step-description {
    font-size: 1.2rem;
    line-height: 1.8;
  }

  .section-meals {
    padding: 2rem 0;
  }

  .meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }

  .meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
  }

  .tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #555;
    border-radius: 100px;
    font-weight: 600;
  }
  .meal-title {
    font-size: 2.4rem;
    color: #555;
    font-weight: 600;
  }

  .section-testimonials {
    flex-direction: column;
  }

  .testimonial-img {
    width: 4rem;
  }

  .testimonial-text {
    font-size: 1.4rem;
    line-height: 1.8;
    margin-bottom: 1.2rem;
  }

  .testimonial-name {
    font-size: 1.2rem;
  }

  .cta-form label {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .cta-form input,
  .cta-form select {
    padding: 1rem;
    font-size: 1.4rem;
  }

  .copyright {
    font-size: 1rem;
  }

  .footer-heading {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }

  .contacts {
    font-size: 1.2rem;
  }

  .address {
    margin-bottom: 2.4rem;
  }

  .footer-nav {
    gap: 2rem;
  }

  .footer-link:link,
  .footer-link:visited {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .step {
    flex-direction: column;
    margin-bottom: 7rem;
  }

  .step-text-box {
    padding: 3rem;
  }

  .step-img-box-order {
    order: 2;
  }

  .step-text-box-order {
    order: 1;
  }

  .testimonial {
    flex: 50%;
    max-width: 25vw;
    margin: 2rem 2rem;
  }

  .cta-img-box {
    display: none;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 4rem;
  }

  .header {
    flex-direction: row;
    height: 20rem;
  }

  .main-nav-list {
    flex-direction: column;
    margin-right: 2rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-weight: 500;
    font-size: 1.4rem;
    margin-right: 10px;
  }

  .section-hero {
    height: 75vh;
  }

  .hero-img-box {
    display: none;
  }

  .logos {
    flex-wrap: wrap;
  }

  .logos img {
    height: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }

  .step {
    margin-bottom: 5rem;
  }

  .meal {
    max-width: 80vw;
  }

  .testimonials {
    flex-direction: column;
  }

  .testimonial {
    flex: 100%;
    max-width: 100vw;
    margin: 2rem 2rem;
  }

  .flex {
    flex: 100%;
  }

  .logo-footer {
    height: 6rem;
  }
}
