* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background-color: #dfdfdf;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.727) !important;

  /* Because we want header to be sticky later */
  height: 6rem;
  padding: 0 0.65rem;
  position: relative;
  width: 100%;
}

.logo {
  height: 4.5rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.95rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: rgb(233, 233, 233);
  font-weight: 500;
  font-size: 1.125rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #c91fdc;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.75rem 1.5rem;
  border-radius: 9px;
  color: #fff;
  background-color: #c91fdc;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #e92bfe;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 3rem;
  width: 3rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

#container {
  width: 850px;
  min-height: 50vh;
  height: auto;
  margin: 130px auto;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.left-side {
  padding: 20px;
  flex: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0f6f5c;
  background: -webkit-linear-gradient(to right, #1abc9c, #0f6f5c);
  background: linear-gradient(to right, #1abc9c, #0f6f5c);
}

h4 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
}

.fan-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button {
  border-radius: 20px;
  border: 1px solid;
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
  background-color: transparent;
  border-color: #ffffff;
  cursor: pointer;
}

.button:active {
  transform: scale(0.95);
}

.button:focus {
  outline: none;
}

.button:hover {
  border-color: #1abc9c;
  background-color: #1abc9c;
}

.right-side {
  padding: 20px;
  flex: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#trafficlight {
  float: right;
  margin-top: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 3px solid #333;
}

.description {
  font-weight: 600;
}

#details {
  font-size: 0.8em;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
}

.big {
  font-size: 1.2em;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  background-color: rgb(48, 48, 48);
  padding: 8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 2rem;
}

.logo-footer {
  height: 4.55rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.social-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.copyright {
  font-size: 0.875rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  color: rgb(233, 233, 233);
}

.contacts {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 1.5rem;
  color: rgb(233, 233, 233);
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

@media (max-width: 850px) {
  .header {
    flex-direction: column;
    padding: 1.3rem;
    height: 9rem;
  }

  .logo {
    height: 3.25rem;
    margin-bottom: 0.65rem;
  }

  .main-nav-list {
    gap: 0.65rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-weight: 500;
    font-size: 0.91rem;
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 2.6rem;
  }

  .header {
    flex-direction: row;
    height: 16rem;
  }

  .main-nav-list {
    flex-direction: column;
    margin-right: 1.3rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-weight: 500;
    font-size: 0.91rem;
    margin-right: 10px;
  }
}
