* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background-color: #dfdfdf;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.5em;
}

.btn:link,
.btn:visited {
  margin-left: 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: #fff;
  background: #1abc9c;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.btn:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: #0f6f5c;
}

.btn:hover:after,
.btn:focus:after,
.btn:active:after {
  right: -10px;
}

/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.727) !important;

  /* Because we want header to be sticky later */
  height: 6rem;
  padding: 0 3rem;
  position: relative;
  width: 100%;
}

.logo {
  height: 16.5rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: rgb(233, 233, 233);
  font-weight: 500;
  font-size: 1.125rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #c91fdc;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.75rem 1.5rem;
  border-radius: 9px;
  color: #fff;
  background-color: #c91fdc;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #e92bfe;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 3rem;
  width: 3rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.shopping-cart {
  width: 850px;
  min-height: 50vh;
  height: auto;
  margin: 130px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.title {
  height: 90px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

a.continue:link,
a.continue:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;
  font-size: 0.75em;
  padding: 1em;
  color: #fff;
  background: #1abc9c;
  font-weight: bold;
  border-radius: 50px;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

a.continue:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

a.continue:hover,
a.continue:focus,
a.continue:active {
  background: #0f6f5c;
}

a.continue:hover:after,
a.continue:focus:after,
a.continue:active:after {
  right: -10px;
}

.orders-item {
  padding: 20px 30px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: top;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.item:nth-child(n) {
  border-top: 1px solid #e1e8ee;
}

.item:last-child {
  border-bottom: 1px solid #e1e8ee;
}

.order-id {
  flex: 10%;
}

.date {
  flex: 30%;
}

/* Product Description */
.product {
  flex: 30%;
  margin-right: 60px;
  width: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unit {
  flex: 15%;
}

.total {
  flex: 15%;
}

.description span {
  display: block;
  font-size: 16px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

button[class*="btn"] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
button:focus,
input:focus {
  outline: 0;
}

.empty:link,
.empty:visited {
  background: #bc2d1a;
}

.empty:hover,
.empty:focus,
.empty:active {
  background: #6f120f;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  background-color: rgb(48, 48, 48);
  padding: 8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.social-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.copyright {
  font-size: 0.875rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  color: rgb(233, 233, 233);
}

.contacts {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 1.5rem;
  color: rgb(233, 233, 233);
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
